
<div class="col-xs-10 col-xs-offset-1">
  <h1>My Workout History</h1>

  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th><%= "Date" %></th>
        <th><%= "Routine Name" %></th>
        <th><%= "Actions" %></th>
      </tr>
    </thead>
    <tbody>
      <% @workouts.each do |workout| %>
        <tr>
          <td><%= workout.created_at.strftime "%B %e, %Y" %></td>
          <td><%= workout.workout_type.type_name %></td>
          <td>	
  					<%= link_to user_workout_path(workout.user, workout), :class => 'btn btn-primary' do %>
  						View &nbsp;
  						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  					<% end %>
  					<%= link_to user_workout_path(workout.user, workout), method: :delete, :class => 'btn btn-primary' do %>
  						Delete &nbsp;
  						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  					<% end %>
  				</td>    
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <strong>
    <%= link_to user_workouts_path(current_user, format: "csv") do %>
      <i class="glyphicon glyphicon-download-alt"></i>
      Download workout history as CSV file
    <% end %>
  </strong>

</div>



