
<h1 class="center">My Workout History<h1>

<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th><%= "Date" %></th>
      <th><%= "Workout Type" %></th>
      <th><%= "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.created_at.strftime "%B %e, %Y" %></td>
        <td><%= workout.workout_type.type_name %></td>
        <td>	
					<%= link_to user_workout_path(workout.user, workout), :class => 'btn btn-default' do %>
						View &nbsp;
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					<% end %>
					<%= link_to user_workout_path(workout.user, workout), method: :delete, :class => 'btn btn-default' do %>
						Delete &nbsp;
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					<% end %>
				</td>    
      </tr>
    <% end %>
  </tbody>
</table>


