<div class="workout-box col-xs-10 col-xs-offset-1">
	<h1><%= @workout_type.type_name %></h1>

	<% @workout_type.exercise_types.each do |exercise_type| %>
		<p>
			<% if exercise_type.name.present? %>
				<h3><%= exercise_type.name %></h3>
				<span>Sets: </span><span class="new-workout-numbers"><%= exercise_type.sets %></span>
				<span>Reps: </span><span class="new-workout-numbers"><%= exercise_type.reps %></span>
				<span>Load: </span><span class="new-workout-numbers"><%= exercise_type.load %></span>
			<% end %>
		</p>
	<% end %>

	<h3>Enter today's results</h3> 
	<br />

	<%= simple_form_for @workout, :url => workout_type_workouts_path(:workout_type_id => @workout_type.id), :method => :post do |f| %>

		<% exercise_number = 0 %>
		<%= while exercise_number <	@exercises.count do %>
			<%= f.simple_fields_for :exercises, @exercises[exercise_number] do |builder| %>
				<%= builder.input :name, :placeholder => :name, :input_html => { :value => builder.object.name }, label: false %>
				<% set_number = 1 %>
				<table class="table table-bordered table-striped table-responsive">
				  <thead>
				    <tr>
				      <th><%= "Set" %></th>
				      <th><%= "Reps" %></th>
				      <th><%= "Load (lb)" %></th>
				    </tr>
				  </thead>
				  <tbody>
						<%= builder.simple_fields_for :completed_sets do |set| %>
					  	<tr>
				        <td><%= set_number %></td>
				        <td><%= set.input :reps, label: false %></td>
				        <td><%= set.input :load, label: false %></td>
	      			</tr>
			      	<% set_number += 1 %>
			      <% end %>
				  </tbody>
				</table>
			<% end %>
			<% exercise_number += 1 %>
		<% end %>

		<%= f.submit 'Save', :class=>"btn btn-primary" %>
	<% end %>
</div>