<div class="workout-box col-xs-10 col-xs-offset-1">
	<h1><%= @workout_type.type_name %></h1>

	<% @workout_type.exercise_types.each do |exercise_type| %>
		<p>
			<% if exercise_type.name.present? %>
				<h3><%= exercise_type.name %></h3>
				<span>Sets: </span><span class="new-workout-numbers"><%= exercise_type.sets %></span>
				<span>Reps: </span><span class="new-workout-numbers"><%= exercise_type.reps %></span>
				<span>Load: </span><span class="new-workout-numbers"><%= exercise_type.load %></span>
			<% end %>
		</p>
	<% end %>

	<h3 class="todays-results">Enter today's results</h3> 
	<br />

	<% exercise_type_sets = Array.new %>
	<% @workout_type.exercise_types.each do |exercise_type| %>
		<% if exercise_type.sets.nil? %>
			<% exercise_type_sets.push(1) %>
		<% else %>
		<% exercise_type_sets.push(exercise_type.sets).reject! { |item| item.nil? || item == '' } %>
		<% end %>
	<% end %>

	<% circuit_number = 0 %>
	<%= simple_form_for @workout, :url => workout_type_workouts_path(:workout_type_id => @workout_type.id), :method => :post do |f| %>
	
		<%= while circuit_number < exercise_type_sets.max do %>

			<h4><strong>Circuit <%= circuit_number+1 %></strong></h4><br />
			<% exercise_number = 0 %>
			<div class="well">
				<%= while exercise_number <	@exercises.count do %>
					<% exercise_sets = @workout_type.exercise_types[exercise_number].sets %>
					<% if exercise_sets.nil? %>
						<% exercise_sets = 1 %>
					<% end %>	
					<% if circuit_number <= exercise_sets %>
						<% if @exercises[exercise_number].completed_sets[circuit_number].present? %>
							<%= f.simple_fields_for :exercises, @exercises[exercise_number] do |builder| %>
								<%= builder.input :name, :placeholder => :name, :input_html => { :value => builder.object.name, :class => "exercise-name" }, label: false %>
								<table class="table table-bordered table-striped table-responsive">
								  <tbody>	
								  	<tr>
								  		<%= builder.simple_fields_for :completed_sets, @exercises[exercise_number].completed_sets[circuit_number] do |set| %>
								        <td><%= set.input :reps, placeholder: 'Reps', label: false %></td>
								        <td><%= set.input :load, placeholder: 'Load', label: false %></td>
							        <% end %>
				      			</tr>	      
								  </tbody>
								</table>
							<% end %>
						<% end %>

					<% end %>
					<% exercise_number += 1 %>
				<% end %> <!-- end exercise -->
			</div>	
			<% circuit_number += 1 %>
		<% end %> <!-- end circuit -->

		<!-- action buttons -->
		<%= link_to root_path, data: {confirm: "Are you sure you want to leave this form? Any data you may have entered has not been saved."}, :class => 'btn btn-default' do %>
	  	Cancel &nbsp;
	 	<% end %>
		<%= f.submit 'Save', :class=>"btn btn-primary", :id=>"workout_submit" %>

	<% end %> <!-- end form -->


	