<div class="workout-box col-xs-10 col-xs-offset-1">
	<h1><%= @workout.workout_type.type_name %></h1>
	<h2><%= @workout.created_at.strftime "%B %e, %Y" %></h2>

	<table class="table table-bordered table-striped table-responsive">
	  <thead>
	    <tr>
	      <th><%= "Exercise" %></th>
	      <th><%= "Set" %></th>
	      <th><%= "Reps" %></th>
	      <th><%= "Load (lb)" %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @workout.exercises.each do |exercise| %>
	    	<% set_number = 1 %>
	    	<% exercise.completed_sets.each do |set| %>
		      <tr>
		        <td><%= exercise.name %></td>
		        <td><%= set_number %></td>
		        <td><%= set.reps %></td>
		        <td><%= set.load %></td>
		      </tr>
		      <% set_number += 1 %>
	      <% end %>
	    <% end %>
	  </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="link col-xs-10 col-xs-offset-1">
	<%= link_to user_workouts_path(@workout.user) do %>
		<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
		Back to List of Your Workouts &nbsp;
	<% end %>
</div>