<div class="workout-box col-xs-10 col-xs-offset-1">
	<h2><%= @workout.workout_type_name %></h2>
	<h3><%= @workout.created_at.strftime "%B %e, %Y" %></h3>
	<br />

	<% @exercise_names.each do |exercise_name| %>
		<div class="pull-left exercise-name"><%= exercise_name %></div>
  	<table class="table table-bordered table-striped table-responsive">
		  <thead>
		    <tr>
		      <th><%= "Reps" %></th>
		      <th><%= "Load (lb)" %></th>
		    </tr>
		  </thead>
			<% @workout.exercises.each do |exercise| %>
				<% if exercise_name == exercise.name %>
					<% exercise.completed_sets.each do |set| %>
						<% unless set.reps.nil? && set.load.nil? %>
				      <tr>
				        <td><%= set.reps %></td>
				        <td><%= set.load %></td>
				      </tr>
			      <% end %>
		      <% end %> 
		    <% end %>
	    <% end %>
	    <%= 'Total weight lifted: ' + @workout.get_total_results(@workout, exercise_name, false).to_s + '  lbs' %>
	    <br />
	    <%= 'Total reps: ' + @workout.get_total_results(@workout, exercise_name, true).to_s %>	   	    
    </table>	
	<% end %>
 
 	<br />

 	<div class="comparison">
 		<% unless @previous_workout.nil? %>
	 		<h4> Comparing with the last time you recorded <%= @workout.workout_type_name %>
	 			on <%= @previous_workout.created_at.strftime "%B %e, %Y" %>
	 		</h4>
	 		<br />
	 		<% unless @comparisons.nil? %>
	 			<% @comparisons.each do |key, array| %>
		 			<p>
						<strong><%= key %></strong>
						<br />
				    <%= 'COMPLETED SETS: ' + array[:sets_message] %>
				    <br />
				    <%= 'RESULTS: ' + array[:total_weight_or_reps_message]  %>
				    <br />
				  </p>
		    <% end %>	  	
			<% end %>
		<% else %>
  		<h4> This is your first workout of this type.</h4>
		<% end %>
	</div>

 	<br class="clear" />

  <%= link_to 'Repeat This Workout', new_workout_type_workout_path(@workout.workout_type_id), :class => 'btn btn-primary' %>
	<br />
	<br />
  <%= link_to user_workouts_path(@workout.user) do %>
		<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
		Back to Workout History &nbsp;
	<% end %>
               
</div>