<div class="workout-box random-color-box">
	<div class="row routine-row">
		<div class="col-xs-12">
	  	<%= f.input :name, label: "Exercise Name" %>
	  </div>
	</div>
	<div class="row routine-row">
		<div class="col-xs-3">
	  	<%= f.input :sets, label: "Sets" %>
		</div>
	  <div class="col-xs-3">
	  	<%= f.input :reps, label: "Reps" %>
		</div>
	  <div class="col-xs-3">
	  	<%= f.input :load, label: "Load" %>
	  </div>
	  <div class="col-xs-3">
	  	<%= f.collection_select :weight_unit_id, @weight_units, :id, :name, :selected => 'lb' %>
	  </div>
	</div>
	<div class="row routine-row">
		<div class="col-xs-12">
	  	<%= f.input :url, label: "Link to instructions" %>
	  </div>
	</div>
</div>