<%= f.input :name, label: 'Exercise Title' %>
<%= f.input :sets %>
<%= f.input :reps %>
<%= f.input :load %>

<tr>
  <td><%= f.input :name, label: 'Exercise Title' %></td>
  <td><%= f.input :sets %></td>
  <td><%= f.input :reps %></td>
  <td><%= f.input :load %></td>
</tr>