<tr>
  <td><%= exercisetype_form.input :name, label: false %></td>
  <td><%= exercisetype_form.input :sets, label: false %></td>
  <td><%= exercisetype_form.input :reps, label: false %></td>
  <td><%= exercisetype_form.input :load, label: false %></td>
	<td>
		<%= exercisetype_form.simple_fields_for :weight_unit, @weight_unit do |unit| %>
		<%= unit.collection_select :weight_unit, @weight_units, :id, :name, {:selected => 1 }, {:class => 'form-control'} %>
		<% end %>
		
	</td>
  <td><%= exercisetype_form.input :url, label: false %></td>
</tr>