<div class="workout-box random-color-box">
	<div class="row routine-row">
		<div class="col-xs-12">
	  	<%= exercisetype_form.input :name, label: "Exercise Name" %>
	  </div>
	</div>
	<div class="row routine-row">
		<div class="col-xs-3">
	  	<%= exercisetype_form.input :sets, label: "Sets" %>
		</div>
	  <div class="col-xs-3">
	  	<%= exercisetype_form.input :reps, label: "Reps" %>
		</div>
	  <div class="col-xs-3">
	  	<%= exercisetype_form.input :load, label: "Load" %>
	  </div>
	  <div class="col-xs-3">
	  	<%= exercisetype_form.label 'Units' %>
	  	<%= exercisetype_form.simple_fields_for :weight_unit, @weight_unit do |unit| %>
				<%= unit.collection_select :id, @weight_units, :id, :name, {}, {:class => 'form-control'} %>
			<% end %>
	  </div>
	</div>
	<div class="row routine-row">
		<div class="col-xs-12">
	  	<%= exercisetype_form.input :url, label: "Link to instructions" %>
	  </div>
	</div>
</div>