<tr>
  <td><%= f.input :name, label: false %></td>
  <td><%= f.input :sets, label: false %></td>
  <td><%= f.input :reps, label: false %></td>
  <td><%= f.input :load, label: false %></td>
  <td>
  	<%= f.collection_select :weight_unit_id, @weight_units, :id, :name, :selected => 'lb' %>
	</td>
  <td><%= f.input :url, label: false %></td>
</tr>