<script>
  tinymce.init({
    selector: '.mceEditor',
    menubar: false,
    branding: false,
    plugins: "link autolink lists",
    menubar: "insert",
    toolbar: "undo redo | cut copy paste pastetext | styleselect | bold italic | link bullist numlist",
  });
</script>

<div class="workout-box col-xs-10 col-xs-offset-1" id="new-workout-type">

	<%= simple_form_for (@workout_type) do |f| %>
		<%= f.input :type_name, label: 'What will you call this workout?' %>
		<br />
		<%= f.input :description, label: 'Add a brief description of this workout.', input_html: { class: 'mceEditor' } %>
	  <br />
	  <p>Who should be able to see this workout?</p>

		<%= f.label :public, "All Users", :value => true %>
    <%= f.radio_button :public, true, :checked => true %>
    &nbsp;
    <%= f.label :public, "Myself Only", :value => false %>
    <%= f.radio_button :public, false %>

	 	<h3>Now enter up to 10 exercises:</h3> 
	 	<div class="mobile">
	    <%= f.fields_for :exercise_types, @exercise_types do |builder| %>
	      <%= render 'exercise_fields_table', :f => builder %>
	    <% end %>
	  </div>
	  <div class="desktop">
	  	<table class="table table-bordered table-striped table-responsive">
			  <thead>
			    <tr>
			      <th>Exercise Name</th>
			      <th>Sets<br /><small><i>(assuming 1 set if left blank)</i></small></th>
			      <th>Reps</th>
			      <th>Load, lb or % max<br /><small><i>(leave blank if bodyweight)</i></small></th>
			      <th>Link to instructions on how to perform this exercise</th>
			    </tr>
			  </thead>
			  <tbody>
			    <%= f.fields_for :exercise_types, @exercise_types do |builder| %>
			      <%= render 'exercise_fields_table_desktop', :f => builder %>	
			    <% end %>
			  </tbody>
		</table>
	  </div>
		<%= f.submit 'Create Workout Routine', :class=>"btn btn-primary", :id=>"routine_submit" %>
	<% end %>
</div>

<div id="desktopTest" class="hidden-sm-down"></div>
