<div class="workout-box col-xs-10 col-xs-offset-1">
  <h1>Describe This Workout</h1>

  <%= simple_form_for (@workout_type) do |f| %>
		<%= f.input :type_name, label: 'What will you call this workout?' %>
	  <br />
	 	<h3>Now let's enter the exercises:</h3> 
	  <br />
		<%= f.fields_for :exercise_types, @exercise_types do |builder| %>
			<%= render 'exercise_fields', :f => builder %>
		<% end %>
		<%= f.submit 'Create', :class=>"btn btn-primary" %>
	<% end %>
</div>



  