<div class="workout-box col-xs-10 col-xs-offset-1">
	<h1><%= @workout_type.type_name %></h1>

	<table class="table table-bordered table-striped table-responsive">
	  <thead>
	    <tr>
	      <th><%= "Exercise" %></th>
	      <th><%= "Sets" %></th>
	      <th><%= "Reps" %></th>
	      <th><%= "Load (lb)" %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @workout_type.exercise_types.each do |exercise_type| %>
		    <% if exercise_type.name.present? %>
		      <tr>
		        <td><%= exercise_type.name %></td>
		        <td><%= exercise_type.sets %></td>
		        <td><%= exercise_type.reps %></td>
		        <td><%= exercise_type.load %></td>
		      </tr>
		    <% end %>
	    <% end %>
	  </tbody>
	</table>
	<br />
	<div>
		<% if @workout_type.public == true %>
			<p>This workout can be seen by All Users</p>
		<% elseif @workout_type.public == false %>
			<p>This workout can be seen by Myself Only</p>
		<% end %>
	</div>
	<br />
	<%= link_to 'Record Your Results', new_workout_type_workout_path(@workout_type), :class => "btn btn-primary"  %>
</div>
<div class="clear"></div>

<div class="link col-xs-10 col-xs-offset-1">
	<%= link_to workout_types_path do %>
		<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
		Back to List of Workouts &nbsp;
	<% end %>
</div>